@model CoreCourse.Spyshop.Web.Areas.Admin.ViewModels.ProductsDetailsVm

@{
    ViewData["Title"] = "Admin - Delete Product";
}

<h3>Delete Product</h3>
<div>
    <br />
    <h4 class="text-danger">Are you sure you want to delete this?</h4>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.Raw(Html.Encode(Model.Description)?.Replace("&#xA;", "<br />"))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SortNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SortNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
