@model CoreCourse.Spyshop.Web.Areas.Admin.ViewModels.ProductsDetailsVm

@{
    ViewData["Title"] = "Admin - Product Details";
}

<h3>Product Details</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.Raw(Html.Encode(Model.Description)?.Replace("&#xA;", "<br />"))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SortNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SortNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
