@model CoreCourse.Spyshop.Web.Areas.Admin.ViewModels.ProductsIndexVm

@{
    ViewData["Title"] = "Admin - Product Index";
}

<h2>Products Administration</h2>

<p>
    <a asp-action="Create"><i class="fas fa-plus-circle"></i>&nbsp;Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().PhotoUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.Raw(Html.Encode(item.Description)?.Replace("&#xA;", "<br />"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @{
                        string imageUrl = item.PhotoUrl != null ?
                            "products/" + item.PhotoUrl : "default-product.png";
                    }
                    <div style="height:100px;width:100px;
                                background-image:url('/images/@imageUrl');
                                background-size: cover;"></div>
                </td>
                <td style="white-space:nowrap">
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fas fa-edit"></i>&nbsp;Edit
                    </a><br />
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <i class="fas fa-search"></i>&nbsp;Details
                    </a><br />
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fas fa-trash"></i>&nbsp;Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
