@model CoreCourse.Spyshop.Web.ViewModels.CatalogIndexVm

@section head {
    <environment names="Production, Staging">
        <link rel="stylesheet" asp-append-version="true" href="~/bundles/spyshop-products.min.css" />
    </environment>
    <environment names="Development">
        <link rel="stylesheet" asp-append-version="false" href="~/bundles/spyshop-products.css" />
    </environment>
}

@{
    ViewBag.Title = "Products - Spyshop";
}

<h1>Products</h1>

@foreach (var cat in Model.Categories)
{
    if (!cat.Products.Any()) { continue; }
    <section>
    <header><h3>@cat.Name</h3></header>
    <div class="product-list card-deck">
        @foreach (var product in cat.Products
            .OrderBy(p => p.SortNumber ?? int.MaxValue) //NULL sortnumbers come last
            .ThenBy(p => p.Name))
        {
        string productImageCss = "background-size: auto;";
        if (product.PhotoUrl != null)
        {
            productImageCss = $"background-image:url('../images/products/{product.PhotoUrl}')";
        }
        <article class="card my-3">
            <a asp-action="Product">
                <span class="product-img" style="@Html.Raw(productImageCss)"></span>
                <span class="product-price">@product.Price.ToString("C2")</span>
                <span class="product-title">@product.Name</span>
                <span class="product-desc">
                    @Html.Raw(product.Description?.Replace("\n", "<br />"))
                </span>
            </a>
        </article>
        }
    </div>
    </section>
}
