@model CoreCourse.Spyshop.Web.ViewModels.CatalogProductVm
@{
    ViewBag.Title = $"{Model.Product.Name} - Spyshop";
}

@section head {
    <environment names="Production, Staging">
        <link rel="stylesheet" asp-append-version="true" href="~/bundles/spyshop-products.min.css" />
    </environment>
    <environment names="Development">
        <link rel="stylesheet" asp-append-version="false" href="~/bundles/spyshop-products.css" />
    </environment>
}

<h1>Product Details</h1>
<p>
    <a asp-action="Index">&laquo;&nbsp;back to catalog</a>
</p>
<article class="row">
    <div class="col-sm-4 text-center">
        @{
            string defaultImg = "default-product.png";
            if (Model.Product.PhotoUrl != null)
            {
                defaultImg = $"products/{Model.Product.PhotoUrl}";
            }
        }

        <img src="~/images/@defaultImg" alt="@Model.Product.Name" class="img-fluid" />
    </div>
    <section class="col-sm-8">
        <header>
            <h3>@Model.Product.Name</h3>
        </header>
        <p><big>@Html.Raw(Model.Product.Description)</big></p>
        <div class="clearfix details-buy">
            <form asp-action="AddProduct" asp-controller="Cart" asp-route-id="@Model.Product.Id"
                  class="details-addtocart">
        <button type="submit" class="btn btn-lg btn-primary">
            <i class="fas fa-shopping-cart"></i>&nbsp;Buy now
        </button>
            </form>
            <div class="details-price">€ @Model.Product.Price.ToString("N2")</div>
        </div>
    </section>
</article>
