<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <environment names="Production, Staging">
        <link rel="stylesheet"
              asp-append-version="true"
              asp-href-include="~/bootstrap/css/*.min.css"
              asp-href-exclude="~/bootstrap/css/*-theme*.css" />
    </environment>
    <environment names="Development">
        <link rel="stylesheet"
              asp-append-version="true"
              asp-href-include="~/bootstrap/css/*.css"
              asp-href-exclude="~/bootstrap/css/*.min.css, ~/bootstrap/css/*-theme*.css" />
    </environment>
    <link href="~/css/spyshop.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>
<body>
    <div id="container" class="container-fluid">
        <div class="row">
            <header id="header" class="col-sm-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed"
                                    data-toggle="collapse" data-target="#spynav">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" asp-action="Index" asp-controller="Home" asp-area="">Spy Shop</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="spynav">
                            <ul class="nav navbar-nav">
                                @await Component.InvokeAsync("MainNavigation")
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a asp-action="Index" asp-controller="Cart" asp-area="">
                                        <span class="glyphicon glyphicon-shopping-cart"></span>
                                        Cart <span class="badge cart-badge">0</span>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown"
                                       role="button" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-user"></span>
                                        Guest <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-action="Login" asp-controller="Account" asp-area="">Log in</a></li>
                                        <li><a asp-action="Register" asp-controller="Account" asp-area="">Register</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </header>

            @RenderSection("abovemain", false)

            <main id="maincontainer" class="col-sm-12">
                <section id="maincontent">
                    <div class="row">
                        <div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                            @RenderBody()
                        </div>
                    </div>
                </section>
            </main>

            @Html.Partial("PublicFooter")
        </div>
    </div>
    <environment names="Production, Staging">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script asp-append-version="true"
                asp-src-include="~/bootstrap/js/*.min.js"
                asp-src-exclude="~/bootstrap/js/npm.js"></script>
    </environment>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script asp-append-version="true"
                asp-src-include="~/bootstrap/js/*.js"
                asp-src-exclude="~/bootstrap/js/*.min.js, ~/bootstrap/js/npm.js"></script>
    </environment>
    @RenderSection("bottombody", false)
</body>
</html>
